<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">

  <head>
    <title>Snap vs Insta DAU Estimator</title>
       <link href="/static/css/bootstrap.min.css" rel="stylesheet" />

       <script src="/static/js/Chart-2.3.0.js"></script>
       <script src="/static/js/jquery-2.2.4.min.js"></script>
       <script src="/static/js/snapinstadash.js"></script>
       <script src="/static/js/jquery.tokenize.js"></script>

       <link  href="/static/css/jquery.tokenize.css" rel="stylesheet" />
       <link  href="/static/css/font-awesome.min.css" rel="stylesheet" />
       <link  href="/static/css/snapinstadash.css" rel="stylesheet" />

  </head>

  <body>

    <h3 class="pagetitle"> <img src="/static/img/snap-icon.png" width=30> vs <img src="/static/img/insta-icon.png" width=30> DAU Estimator by Age, Country, and Gender</h3>
    <div class="container-fluid">
      <div class="row" >
        <div class="col-sm-6 col2x" style="vertical-align: middle; text-align: left;">
          <label for="country-input"><i class="fa fa-flag fa-2x" aria-hidden="true"></i></label>
          <select class="country-input" multiple>
            {% for datum in countries %}
              <option value="{{ datum.country }}" {{ datum.selected }}>{{ datum.country }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-3 col1x" style="vertical-align: middle; text-align: left;">
          <label for="gender-input"><i class="fa fa-female fa-2x" aria-hidden="true"></i> <i class="fa fa-male fa-2x" aria-hidden="true"></i></label>
          <select class="gender-input" multiple>
          {% for datum in genders %}
            <option value="{{ datum.gender }}" {{ datum.selected }}>{{ datum.gender }}</option>
          {% endfor %}
          </select>
        </div>
        <div class="col-sm-3 col1x" style="vertical-align: middle; text-align: left;">
          <label for="age_range-input"><i class="fa fa-child" aria-hidden="true"></i><i class="fa fa-child fa-2x" aria-hidden="true"></i></label>
          <select class="age_range-input" multiple>
            {% for datum in age_ranges %}
              <option value="{{ datum.age_range }}" {{ datum.selected }}>{{ datum.age_range }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row" >

        <div class="col-sm-3 col1x">
          <div class="chartheader">
            <h4 class="text-center"><i class="fa fa-globe" aria-hidden="true"></i> Country DAU</h4>
          </div>
          <div class="clear"></div>
          <div id='chartcol1'> 
            <canvas id="countrydau"></canvas>
          </div>
          <div class="clear"></div>
          <div class="chartfooter">
            <p class="small">Estimated DAU by Country by Platform</p>
          </div>
          <div class="clear"></div>
        </div>

        <div class="col-sm-3">
          <div class="chartheader col1x">
            <h4 class=text-center><i class="fa fa-mobile" aria-hidden="true"></i> Mobile Penetration </h4>
          </div>
          <div class="clear"></div>
          <div id='chartcol2'> 
            <canvas id="countrypenetration"></canvas>
          </div>
          <div class="clear"></div>
          <div class="chartfooter">
            <p class="small">Estimated Daily Mobile Penentration (DAU / Mobile Users) by Country</p>
          </div>
          <div class="clear"></div>
        </div>

        <div class="clearfix visible-sm-block"></div>

        <div class="col-sm-3 col1x">
          <div class="chartheader">
            <h4 class="text-center"><i class="fa fa-user"></i> Age</h4>
          </div>
          <div class="clear"></div>
          <div id='chartcol3'> 
            <canvas id="agepct"></canvas>
          </div>
          <div class="clear"></div>
          <div class="chartfooter">
            <p class="small">Estimated % of Total DAU in a Platform by Age</p>
          </div>
          <div class="clear"></div>
        </div>

        <div class="col-sm-3">
          <div id='chartcol4snapchat'> 
            <h4 class="text-center"><img src="/static/img/snap-icon.png" width=25> Gender</h4>
            <hr>
            <canvas id="genderpctsnapchat"></canvas>
            <div id=genderlegendsnapchat></div>
          </div>
          <br><br><br><br><br>
          <div id='chartcol4instagram'> 
            <h4 class="text-center"><img src="/static/img/insta-icon.png" width=25> Gender</h4>
            <hr>
            <canvas id="genderpctinstagram"></canvas>
            <div id=genderlegendinstagram></div>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="row" >
       <div id="footertext" class="col-lg-6 clearfix" style="padding-left: 20px">
       <h4>About this Dashboard</h4>
       <p>This dashboard leverages publicly accessible data from the <a href=https://www.facebook.com/ads/create target='_blank'>Facebook Ads interface</a> as well as
       media statements from Snap and Instagram on Daily Active Users to estimate dau and mobile market share by age, gender, and country</p>
      </div>
    </div>

  </body>
</html>

<script>

create_or_update_charts()

// ------------------------------------------------------------------------
// Processes typeahead for tokens as well as updates graphs as 
// new tokens are added or removed

$('.gender-input').tokenize({
   displayDropdownOnFocus:true,
   placeholder: 'Select Genders, eg female',
   onAddToken: function(value, text, e) {
    create_or_update_charts();
   },
   onRemoveToken: function(value, text, e) {
    create_or_update_charts();
   }
});

$('.age_range-input').tokenize({
   displayDropdownOnFocus:true,
   placeholder: 'Select Age Ranges, eg 18-24',
   onAddToken: function(value, text, e) {
    create_or_update_charts();
   },
   onRemoveToken: function(value, text, e) {
    create_or_update_charts();
   }
});

$('.country-input').tokenize({
   displayDropdownOnFocus:true,
   placeholder: 'Select Countries, eg United States',
   onAddToken: function(value, text, e) {
    create_or_update_charts();
   },
   onRemoveToken: function(value, text, e) {
    create_or_update_charts();
   }
});

</script>